# Ignore Play! working directory #
bin/
.idea/
/db
.eclipse
.project
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
/hs_err_*.log
/.settings
/.classpath
/.cache-main
/.cache-tests
/.idea
.gradle/
.classpath
